<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>
</head>

<body>
    <div class="container">
        <h1 class="banner">People Demo Application</h1>
        <div class="section editor">
            <label for="Survived">Survived
                <input id="Survived" type="boolean" />
            </label>
            <br />
            <label for="Pclass">Pclass
                <input id="Pclass" type="text" />
            </label>
            <br />
            <label for="Name">Name
                <input id="Name" type="text" />
            </label>
            <br />
            <label for="Sex">Sex
                <input id="Sex" type="text" />
            </label>
            <br />
            <label for="Age">Age
                <input id="Age" type="text" />
            </label>
            <br />
            <label for="SiblingsSpousesAboard">Siblings or Spouses Aboard
                <input id="SiblingsSpousesAboard" type="text" />
            </label>
            <br />
            <label for="ParentsChildrenAboard">Parents or Children Aboard
                <input id="ParentsChildrenAboard" type="text" />
            </label>
            <br />
            <label for="Fare">Fare
                <input id="Fare" type="text" />
            </label>
            <br />
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="people">
            <table>
                <caption>People</caption>
                <thead>
                    <tr>
                        <th>Survived</th>
                        <th>Pclass</th>
                        <th>Name</th>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Siblings Spouses Aboard</th>
                        <th>Parents Children Aboard</th>
                        <th>Fare</th>
                        <th>Update Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>

</html>